ConsoleApplication1/Service References/ServiceReference1/MobileService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53781/MobileService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/InfoTrakMobileService.DataAccess.Entities" />
  <xs:element name="GetCustomerList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/InfoTrakMobileService.DataAccess.Entities" minOccurs="0" name="GetCustomerListResult" nillable="true" type="q1:ArrayOfCustomerEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobsitesByCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerAuto" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobsitesByCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/InfoTrakMobileService.DataAccess.Entities" minOccurs="0" name="GetJobsitesByCustomerResult" nillable="true" type="q2:ArrayOfJobsiteEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModelsByJobsite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jobsiteAuto" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModelsByJobsiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/InfoTrakMobileService.DataAccess.Entities" minOccurs="0" name="GetModelsByJobsiteResult" nillable="true" type="q3:ArrayOfModelEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEquipmentByJobsiteAndModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jobsiteAuto" type="xs:long" />
        <xs:element minOccurs="0" name="modelAuto" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEquipmentByJobsiteAndModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/InfoTrakMobileService.DataAccess.Entities" minOccurs="0" name="GetEquipmentByJobsiteAndModelResult" nillable="true" type="q4:ArrayOfEquipmentEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSelectedEquipment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="equipmentList" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSelectedEquipmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/InfoTrakMobileService.DataAccess.Entities" minOccurs="0" name="GetSelectedEquipmentResult" nillable="true" type="q5:ArrayOfEquipmentEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSelectedComponents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="equipmentList" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSelectedComponentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/InfoTrakMobileService.DataAccess.Entities" minOccurs="0" name="GetSelectedComponentsResult" nillable="true" type="q6:ArrayOfComponentEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTestPointImages">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTestPointImagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/InfoTrakMobileService.DataAccess.Entities" minOccurs="0" name="GetTestPointImagesResult" nillable="true" type="q7:ArrayOfTestPointImageEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUCLimits">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUCLimitsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/InfoTrakMobileService.DataAccess.Entities" minOccurs="0" name="GetUCLimitsResult" nillable="true" type="q8:ArrayOfLimitsEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDealershipLimits">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDealershipLimitsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/InfoTrakMobileService.DataAccess.Entities" minOccurs="0" name="GetDealershipLimitsResult" nillable="true" type="q9:ArrayOfDealershipLimitEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUcInspection">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/InfoTrakMobileService.DataAccess.Entities" minOccurs="0" name="inspection" nillable="true" type="q10:UndercarriageInspectionEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUcInspectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveUcInspectionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AuthenticateUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserPreference">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserPreferenceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/InfoTrakMobileService.DataAccess.Entities" minOccurs="0" name="GetUserPreferenceResult" nillable="true" type="q11:UserPreferenceEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveEquipment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/InfoTrakMobileService.DataAccess.Entities" minOccurs="0" name="equipment" nillable="true" type="q12:NewEquipmentEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveEquipmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveEquipmentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveInspectionForNewEquipment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/InfoTrakMobileService.DataAccess.Entities" minOccurs="0" name="inspection" nillable="true" type="q13:UndercarriageInspectionEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveInspectionForNewEquipmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveInspectionForNewEquipmentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEquipmentIdBySerialAndUnit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="serial" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="unit" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEquipmentIdBySerialAndUnitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetEquipmentIdBySerialAndUnitResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveEquipmentsInspectionsData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/InfoTrakMobileService.DataAccess.Entities" minOccurs="0" name="EquipList" nillable="true" type="q14:EquipmentInspectionListEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveEquipmentsInspectionsDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveEquipmentsInspectionsDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>